.selected {
  font-weight: bold;
  background-color: #eee;
}

.prop {
}

.propTitle {
  font-weight: bold;
  font-size: 150%;
}

/* Proposition part*/
.pp {
  padding: 10px 20px;
}

.hidden {
	display: none;
}

.hideButton {
}

td {
	vertical-align: top;
}

